/* Colours */

$spanishWhite: #f7efe0;
$kabul: #5d4e48;
$matrix: #b85b5a;
$scorpion: #5a5a5a;
$ebonyClay: #252d37;
$casablanca: #faaf4c;

/* Typography  */

$baseFontSize: 16; // No px on this
$baseLineHeight: 25px; 
$baseFontFamily: Arial, Helvetica, sans-serif;
$baseFontColor: $scorpion;

$headingFontFamily: Georgia, "Times New Roman", serif; 
$headingColor: $scorpion;

$headingAlpha:                  32px;
$headingBeta:                   24px;
$headingGamma:                  19px;
$headingDelta:                  16px;
$headingEpsilon:                13px;
$headingZeta:                   11px;

/* Links  */
$linkColour: $matrix;
$linkVisited: lighten($linkColour, 10);
$linkHover: darken($linkColour, 20);
$linkActive: darken($linkColour, 20);
$linkFocus: darken($linkColour, 40);

$borderColour: $kabul;