*{
    box-sizing: border-box;
}

.main,
.grid {
    @extend %grid;
}

.main {
    margin-top: 2rem;
}

body {
    background: $spanishWhite;
}

.view-controls {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;

    li {
        display: inline-block;
    }
}