.team {
    @extend %clearfix;
    border-top: 1px dotted #e1e1e1;
}

.row-header {
    @extend %clearfix;
    font-weight: bold;

    .group,
    .cards,
    .goal-difference {
        text-transform: none;
        text-align: left;
    }
}

.col {
    display: inline-block;
    float: left;
    padding: 0.25rem 0.5rem;
    width: 16%;
}

.team-name {
    width: 20%;
}

.person {
    width: 18%;
}

.group {
    text-transform: uppercase;
}

.group,
.cards,
.goal-difference {
    width: 8%;
    // text-align: center;
}

[data-sort] {
    cursor: pointer;

    &:hover {
        // text-decoration: underline;

        &:after {
            content: '\25BE';
            margin-left: 0.25rem;
            text-decoration: none;
        }
    }
}

.sort-active {
    &:after {
        content: '\25BE';
        margin-left: 0.25rem;
    }
}

.remove {
    margin-left: 1rem;
}