.team {
    @extend %clearfix;
    border-top: 1px dotted $borderColour;
    
    &:hover {
        background: lighten($spanishWhite, 20%);
    }
}
.team,
.row-header {
    width: 850px;
    margin: auto;
}

.show-admin {
    .team,
    .row-header {
        width: 100%;
    }

    .team-name {
        width: 24%;
    }

    .person {
        width: 21%;
    }

    .controls {
        width: 14%;
    }

    .group,
    .cards,
    .goal-difference {
        width: 11%;
    }

    .row-header {
        .group,
        .cards,
        .goal-difference {
            padding-left: 0.5rem;
        }
    }
}

.row-header {
    @extend %clearfix;
    font-weight: bold;

    .group,
    .cards,
    .goal-difference {
        text-transform: none;
        text-align: left;
        padding-left: 1rem;
    }
}

.col {
    display: inline-block;
    float: left;
    padding: 0.5rem;
    width: 16%;
}

.team-name {
    width: 32%;
}

.person {
    width: 26%;
}

.controls {
    float: right;
}

.group {
    text-transform: uppercase;
}

.group,
.cards,
.goal-difference {
    width: 14%;
    text-align: center;
}

[data-sort] {
    cursor: pointer;

    &:hover {
        &:after {
            content: '\25BE';
            margin-left: 0.25rem;
            text-decoration: none;
        }
    }
}

.sort-active {
    &:after {
        content: '\25BE';
        margin-left: 0.25rem;
    }
}

.remove {
    margin-left: 1rem;
}